body {
    margin: 0;
    background: radial-gradient(circle at center, #000015, #000);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

h1 {
    margin-top: 15px;
}

#info {
    margin-top: 10px;
    font-size: 18px;
}

#gameArea {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    overflow: hidden;
    border-top: 2px solid #00ffff;
    background: black;
}

/* NAVE */
#player {
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, cyan, blue);
    position: absolute;
    bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px cyan;
}

/* ENEMIGOS */
.enemy {
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, red, darkred);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px red;
}

/* BALAS */
.bullet {
    width: 6px;
    height: 18px;
    background: yellow;
    position: absolute;
    box-shadow: 0 0 10px yellow;
}

/* BOTONES */
.start-button {
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 114, 255, 0.7);
    transition: all 0.3s ease;
}

.start-button:hover {
    transform: scale(1.1);
}

.start-button:active {
    transform: scale(0.95);
}

/* GAME OVER */
#gameOverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.game-over-box {
    padding: 30px;
    background: black;
    border: 2px solid cyan;
    border-radius: 15px;
    box-shadow: 0 0 25px cyan;
}

.record {
    color: gold;
}