body{
font-family:'Poppins',sans-serif;
text-align:center;
margin:0;
padding:20px;
color:white;

/* FONDO GALAXIA */
background:
radial-gradient(circle at 20% 20%, #0ff2ff22, transparent 40%),
radial-gradient(circle at 80% 30%, #ff00ff22, transparent 40%),
radial-gradient(circle at 50% 80%, #00ff8822, transparent 40%),
linear-gradient(180deg,#020617,#020617,#01030a);

overflow-x:hidden;
}


/* ESTRELLAS */
body::before{

content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:
radial-gradient(white 1px, transparent 1px),
radial-gradient(white 1px, transparent 1px),
radial-gradient(white 2px, transparent 2px);

background-size:
80px 80px,
120px 120px,
200px 200px;

opacity:0.4;

animation: estrellas 60s linear infinite;

z-index:-1;

}

@keyframes estrellas{

from{
transform:translateY(0px);
}

to{
transform:translateY(-200px);
}

}



/* TITULO */

h1{

font-size:38px;

color:#00ffff;

text-shadow:
0 0 10px #00ffff,
0 0 20px #00ffff,
0 0 40px #00ffff;

margin-bottom:10px;

}



p{
font-size:18px;
}



/* TABLERO CENTRADO PERFECTO */

#tablero{

width:fit-content;

margin:30px auto;

display:grid;

grid-template-columns:repeat(4,120px);

gap:20px;

padding:30px;

border-radius:25px;

background:rgba(0,0,40,0.45);

backdrop-filter:blur(8px);

box-shadow:
0 0 40px #00ffff55,
0 0 80px #000 inset;

justify-content:center;

}



/* CARTAS */

.carta{

width:120px;
height:120px;

background:#020617;

border-radius:18px;

font-size:2.8rem;

display:flex;
align-items:center;
justify-content:center;

cursor:pointer;

color:transparent;

border:2px solid #00ffff;

transition:0.3s;

box-shadow:
0 0 15px #00ffff88;

}



/* CARTAS */

.carta{

width:110px;
height:110px;

background:#020617;

border-radius:14px;

font-size:2.5rem;

display:flex;
align-items:center;
justify-content:center;

cursor:pointer;

color:transparent;

border:2px solid #00ffff;

transition:0.3s;

box-shadow:
0 0 10px #00ffff66;

}



/* HOVER CARTAS */

.carta:hover{

transform:scale(1.08);

box-shadow:
0 0 20px #00ffff,
0 0 40px #00ffff44;

}



/* CARTA ABIERTA */

.carta.volteada{

background:white;

color:black;

transform:rotateY(180deg);

box-shadow:

0 0 15px white,
0 0 30px #00ffff;

}



/* MOVIMIENTOS */

#movimientos{

font-size:20px;

font-weight:bold;

margin:15px;

color:#00ffff;

}



/* BOTON REINICIAR */

#resetBtn{

background:#00ffff;

color:black;

padding:10px 25px;

border:none;

border-radius:12px;

font-size:16px;

cursor:pointer;

transition:0.3s;

box-shadow:
0 0 10px #00ffff;

}

#resetBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 20px #00ffff,
0 0 40px #00ffff;

}



/* BOTON SALIR */

.btn-salir{

display:inline-block;

margin-top:20px;

padding:12px 25px;

background:red;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:0.3s;

box-shadow:
0 0 10px red;

}

.btn-salir:hover{

transform:scale(1.1);

box-shadow:
0 0 20px red,
0 0 40px red;

}